

.test {
  position: absolute;
}

.Head {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

.Head-ball {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid white;
  position: absolute;
}

.ball-0 {
  background: yellow;
}

.ball-1 {
  background: black;
}
.ball-2 {
  background: yellow;
}
.ball-3 {
  background: black;
}
.ball-4 {
  background: yellow;
}
.ball-5 {
  background: black;
}
.ball-6 {
  background: yellow;
}


.main-button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
}

.button {
  border-radius: 100%;
  background: yellow;
}

.child-body {
  position: absolute;
  bottom: 10px;
}

.child-button {
  position: absolute;
  background: black;
  border-radius: 100%;
}